<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="assets/css/styles.css">
          <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">

        <title>Restaurant Management System</title>

        <style>
            .card {
 width: 230px;
 height: 300px;
 border-radius: 20px;
 /* background: #f5f5f5; */
 position: relative;
 /* padding: 1.8rem; */
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

.card-details {
 color: black;
 height: 100%;
 gap: .5em;
 /* display: grid; */
 place-content: center;
}

.card-button {
    transform: translate(-68%, 82%); width: 60%;
 border-radius: 1rem;
 border: none;
 background-color: red;
 /* color: #fff; */
 font-size: 1rem;
 padding: 1.5rem 1rem;
 position: absolute;
 left: 50%;
 bottom: 0;
 opacity: 0;
 transition: 0.3s ease-out;
}

.text-body {
 color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
 font-size: 1.5em;
 font-weight: bold;
}

/*Hover*/
.card:hover {
 border-color: #008bf8;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}
.imgCont{
    width:100%;
    height: 145px;;
    
}
.imgS{
    width:100%;
    height: 100%;
    border-radius: 18px 18px 2px 0px;
    box-shadow: 0px 2px 10px 0px #888888;

}
.cardDesc{
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-around;
}
.menu-title{
    
    text-align: center;
    background: #ffd4d4;
    padding: 12px;
    font-size: 40px;

}
.notification {
    background-color: #f9f9f9;
    color: #181717;
    text-decoration: none;
    padding: 7px 18px;
    position: relative;
    display: inline-block;
    border-radius: 27px;
}

/* .notification:hover {
  background: red;
} */

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

        </style>
    </head>
    <body>

        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        </a>

        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="/" class="nav__logo" style="font-size: 20px; text-decoration: none;"><b><% if(loginUser){ %> <%= loginUser  %> <% } %></b></a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <!-- <a href="#" class="notification"></a>
                        <li class="nav__item">
                            <a href="/cart" class="nav__link active-link" style="font-size: 20px; text-decoration: none;"
                            ><span>Go to Cart</span>
                        </a>
                        <span class="badge">3</span>
                    </li>

                </a> -->
                <a href="/cart" class="notification" style="font-size: 14px; text-decoration: none;">
                    <span>Go to Cart</span>
                    <span class="badge">3</span>
                  </a>
                        <!-- <li><i class='bx bx-moon change-theme' id="theme-button"></i></li> -->
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle"> 
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>


        <section class="menu section bd-container" id="menu">
            <div class="menu-title"><b>- Menu -</b></div>
          
            <div class="menu__container bd-grid">
                
                <% if(records.length >0){
                    records.forEach(function(row){
                    %>

                    <!-- <div class="menu__content">
                        <img src="./upload/<%= row.file %>" alt="" class="menu__img">
                        <h3 class="menu__name"><%= row.name %></h3>
                        <span class="menu__detail"><%- row.details %></span>
                        <span class="menu__preci">$<%= row.price %></span>
                        <a href="/add-cart/edit/<%= row._id %>" class="button menu__button">Add to Cart</a>
                    </div> -->
                    <div class="card">
                        <div class="cards-details">
                            <div class="imgCont">
                                <img src="./upload/<%= row.file %>" alt="" class="imgS">
                            </div>
                            <div style="padding:10px;overflow-wrap: break-word;">
                            <div class="cardDesc">
                                <div ><b><%= row.name %></b></div>
                                <div ><b>$<%= row.price %></b></div>
                            </div>
                            <div  style="padding:10px">
                                <p ><%- row.details %>sqwsqwqwdwdewdwedwededwed</p>
                            </div>
                        </div>
                        </div>
                        <button class="card-button"> <a href="/add-cart/edit/<%= row._id %>" style="text-decoration: none; color: black;"><b>Add To Cart </b></a></button>
                      </div>

                <%  }) } %>
              
            </div>
            
        </section>

            <!--========== CONTACT US ==========-->
            
        </main>

        <!--========== FOOTER ==========-->
        <footer class="footer section bd-container">
            <div class="footer__container bd-grid">
                <div class="footer__content">
                    <a href="#" class="footer__logo">Tasty Food</a>
                    <span class="footer__description">Restaurant</span>
                    <div>
                        <a href="https://www.facebook.com/" class="footer__social"><i class='bx bxl-facebook'></i></a>
                        <a href="https://www.instagram.com/" class="footer__social"><i class='bx bxl-instagram'></i></a>
                        <a href="https://www.twitter.com/" class="footer__social"><i class='bx bxl-twitter'></i></a>
                    </div>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Services</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Delivery</a></li>
                        <li><a href="#" class="footer__link">Pricing</a></li>
                        <li><a href="#" class="footer__link">Fast food</a></li>
                        <li><a href="#" class="footer__link">Reserve your table</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Information</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Event</a></li>
                        <li><a href="#contact" class="footer__link">Contact us</a></li>
                        <li><a href="#" class="footer__link">Privacy policy</a></li>
                        <li><a href="#" class="footer__link">Terms of services</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Adress</h3>
                    <ul>
                        <li>Ghatkopar(E)</li>
                        <li>Mumbai-40007</li>
                        <li>8928213249</li>
                        <li>finedine@gmail.com</li>
                    </ul>
                </div>
            </div>
        </footer>

        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="assets/js/main.js"></script>
    </body>
</html>