<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="assets/css/styles.css">
          <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">

        <title>Restaurant Management System</title>
    </head>
    <body>

        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        </a>

        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="/" class="nav__logo"><% if(loginUser){ %> <%= loginUser  %> <% } %></a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        
                        <li class="nav__item"><a href="/cart" class="nav__link active-link">Go to Cart</a></li>
                        <!-- <li><i class='bx bx-moon change-theme' id="theme-button"></i></li> -->
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle"> 
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>


        <section class="menu section bd-container" id="menu">
            <h2 class="section-title">Menu</h2>
          
            <div class="menu__container bd-grid">
                
                <% if(records.length >0){
                    records.forEach(function(row){
                    %>

                    <div class="menu__content">
                        <img src="./upload/<%= row.file %>" alt="" class="menu__img">
                        <h3 class="menu__name"><%= row.name %></h3>
                        <span class="menu__detail"><%- row.details %></span>
                        <span class="menu__preci">$<%= row.price %></span>
                        <a href="/add-cart/edit/<%= row._id %>" class="button menu__button">Add to Cart</a>
                    </div>

                <%  }) } %>
              
            </div>
            
        </section>

            <!--========== CONTACT US ==========-->
            
        </main>

        <!--========== FOOTER ==========-->
        <footer class="footer section bd-container">
            <div class="footer__container bd-grid">
                <div class="footer__content">
                    <a href="#" class="footer__logo">Tasty Food</a>
                    <span class="footer__description">Restaurant</span>
                    <div>
                        <a href="https://www.facebook.com/" class="footer__social"><i class='bx bxl-facebook'></i></a>
                        <a href="https://www.instagram.com/" class="footer__social"><i class='bx bxl-instagram'></i></a>
                        <a href="https://www.twitter.com/" class="footer__social"><i class='bx bxl-twitter'></i></a>
                    </div>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Services</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Delivery</a></li>
                        <li><a href="#" class="footer__link">Pricing</a></li>
                        <li><a href="#" class="footer__link">Fast food</a></li>
                        <li><a href="#" class="footer__link">Reserve your table</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Information</h3>
                    <ul>
                        <li><a href="#" class="footer__link">Event</a></li>
                        <li><a href="#contact" class="footer__link">Contact us</a></li>
                        <li><a href="#" class="footer__link">Privacy policy</a></li>
                        <li><a href="#" class="footer__link">Terms of services</a></li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Adress</h3>
                    <ul>
                        <li>Ghatkopar(E)</li>
                        <li>Mumbai-40007</li>
                        <li>8928213249</li>
                        <li>finedine@gmail.com</li>
                    </ul>
                </div>
            </div>
        </footer>

        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="assets/js/main.js"></script>
    </body>
</html>